/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Make img responsive */
img{
    max-width: 100%;
}

header{
    background-color: var(--ds-bg-banner);
    padding: 1rem 0;
}

footer{
    font-size: .75rem;
}

section{
   padding: 2rem 0rem;
}
/* #endregion common */

/* #region color palette */
:root{
    --ds-white: #ffffff;
    --ds-bg-banner: #3161e0;
    --ds-bg-secondary: #f6f6f6;
    --ds-login-text: #2d3134;
    --ds-section-primary: #23272a;
    --ds-mac-download: #8ea1e1;
    --ds-footer-title: #7289da;
    --ds-footer-btn: #8ea1e1;
}
/* #endregion color palette */

/* #region utilities */
#debug {
    header{
        background-color: lightblue;
    }

    section{
        height: 250px;
    }

    section.h-500{
        height: 500px;
    }

    section.h-300{
        height: 300px;
    }

    #last-section{
        height: 100%;
    }
    
    .h-100{
        height: 100%;
    }

    .bg-orange{
        background-color: lightsalmon;
    }

    .bg-pink{
        background-color: fuchsia;
    }

    .bg-blue{
        background-color: blue;
    }
    
    .bg-lblue{
        background-color: lightskyblue;
    }

    .bg-salmon{
        background-color: salmon;
    }    
}

.container{
    width: 80%;
    margin: auto;
}

.d-flex{
    display: flex;
}

.fd-rw{
    flex-direction: row-reverse;
}

.fd-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-space{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 60%;
}

.w-40{
    width:40%;
}

.w-20{
    width: 20%;
}

.p-1rem{
    padding: 1rem;
}

.p-3rem{
    padding: 3rem;
}

.bg-gray{
    background-color: lightgrey;
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: black;
}

.bg-violet{
    background-color: violet;
}
/* #endregion bg color */
/* #endregion utilities */

/* #region header */
#ds-logo-img{
    width: 5rem;
    vertical-align: middle;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    font-size: .75rem;
    font-weight: bold;
}

.btn{
    padding: .5rem .75rem ;
    border-radius: 1rem;
    font-size: 12px;
}

#login-btn{
    background-color: white;
    border: 1px solid white;
    color: var(--ds-login-text);
}
/* #endregion header */

/* #region main */
#place-to-talk{
    background-image: url(./img/jumbo.png);
    padding: 5rem;
    background-size: cover;

    .section-title{
        color: var(--ds-white);
    }

    p{
        padding: 2rem;
        color: var(--ds-white);
        text-align: center;
        line-height: 1.75rem;
        font-size: 1rem;
    }   

    .btn{
        padding: .75rem 1rem ;
        border-radius: 2rem;
        margin: 0rem 1rem 1rem 1rem;
        font-size: 1rem;
    }
}

.section-title{
    font-size: 2.5rem;
}

#mac-download{
    background-color: white;
    border: 1px solid white;
   
}

#open-browser{
    color: white;
    background-color: var(--ds-section-primary);
    border: 1px solid var(--ds-section-primary);
}

#invite-only{
    color: var(--ds-section-primary);

    img{
        background-size: cover;
    }

    span{
        font-size: 2rem;
        font-weight: bold;
    }

    p{
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.5rem;
    }
}

/* #endregion main */


/* #region footer */
footer{
    section{
        border-bottom: 1px solid white;
    }

    #last-section{
        padding-bottom: 0;
    }
}
/* #endregion footer */




